BOT_TOKEN=
BOT_USERNAME=ReactionsXBot
EMOJI_LIST=👍❤🔥🥰👏😁🎉🤩🙏👌🕊😍🐳❤‍🔥💯⚡🏆
RANDOM_LEVEL=0
RESTRICTED_CHATS=
ADMIN_IDS=
UPDATES_URL=https://t.me/PythonBotz
SUPPORT_URL=
START_ANIMATION=
DONATE_ANIMATION=
LOG_LEVEL=info
AUTO_SET_WEBHOOK=false
